.news-card-2{
    display: flex;
    flex-direction:  column;
    /*width: 100%;*/
    flex: 1;
    border-left: 1px solid #e5e5e5;
    /*margin: 8px 0;*/
}

.news-card-2:first-child{
    border-left: 0px solid red;
}

.news-2{
    display: flex;
}

.news-image-2 {
    float: left;
    width: 50%;
    max-height: 50%;
}