.news-card-2{
    display: flex;
    flex-direction:  column;
    border-top: #e5e5e5 1px solid;
}

.news-card-2:first-child{
    border-top: 0;
}

.news-2{
    display: flex;
    word-wrap: break-word;
}

.news-image-2 {
    float: left;
    width: 50%;
    max-height: 150px;
    margin-bottom: 8px;
    margin-right: 8px;
}