.section-1{
    display: flex;
    margin: 8px 0;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 36px 0;


}

.popular-newscard {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    margin-bottom: 8px;
}

.popular-column{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.big-image{
    width: 100%;
    max-height: 50%;
    padding-bottom: 16px;
}

.big-image-div{
    margin-top: 8px;
    padding: 0 8px;
}

.popular-column .big-image-div {
    padding: 0 16px 0 0;
}

.unpopular-column{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e5e5e5;
}