.section-3 {
    margin: 12px 0;
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: #e5e5e5 1px solid;
}

.news-card-3:first-child{
    border: 0;
}

.news-image-3 {
    width: 50%;
    border-left: 1px solid #e5e5e5;
    max-height: 200px;
    object-fit: cover;
    margin-left: 8px;
    margin-right: 8px;
}

.news-card-3:nth-child(2) > div.sec-3-news{
    /*background-color: aqua;*/
    padding-right: 0;

}
