.news-card-1{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    /*margin: 0 8px;*/
    margin:  8px 0;
    padding: 8px 0;
    border-top: 1px solid #e5e5e5;
}

.news-card-1:first-child{
    border-top: 0;
}

.news-1{
    display: flex;
    word-wrap: break-word;

}

.news-image-1 {
    float: right;
    width: 37%;
    max-height: 100px;
}
