.news-header-popular {
    color: rgb(40,60,74);
    font-size: 20px;
    margin-bottom: 8px;
    /*padding: 0 8px;*/
}

.news-header {
    color: rgb(40,60,74);
    font-size: 20px;
    margin-bottom: 8px;
    /*padding: 0 8px;*/
}

.link:hover{
 cursor: pointer;
}