.news-header-popular {
    color: rgb(40,60,74);
    font-size: 36px;
    margin-bottom: 8px;
    padding: 0 8px;
}

.news-header {
    color: rgb(40,60,74);
    font-size: 24px;
    margin-bottom: 8px;
    padding: 0 8px;
}