.footer{
    color: gray;
    padding: 0 8px 8px;

}

.comments-points{
    display: flex;
    flex-direction: row;
    font-size: 11px;
    padding-bottom: 16px;
    border-bottom: #e5e5e5 1px solid;
}

.comments-points:last-child{
    border-bottom: 0;
}

.comments{
    display: flex;
    font-weight: bold;
    justify-content: start;
    align-items: center;
    flex: 4;
    /*padding-bottom: 8px;*/
}

.points{
    align-items: center;
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.time-published{
    /*padding-left: 8px;*/
    font-size: 11px;

}

.author {
    font-size: 11px;

    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    /*padding: 8px;*/
}

.icons {
    filter: invert(84%) sepia(10%) saturate(158%) hue-rotate(4deg) brightness(85%) contrast(89%);
    width: 16px;
    height: 16px;
    /*padding: 8px 8px 4px 0;*/
}