.news-card-3 {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-left: 1px solid #e5e5e5;
    height: 100%;
    padding: 0 19px;
}

.news-card-3:first-child{
    padding-left: 0;
    border-left: 0;
    flex: 1.027;
}

.news-card-3:first-child > img.news-image-3{
    padding-left: 0;
    margin-left: 0;
}

.news-card-3:first-child{
    margin-right: 4px;
}

.sec-3-news{
    flex: 1;
    display: flex;
    flex-direction:  column;
    word-wrap: break-word;
}

.news-3{
    display: flex;
}